<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @kitten.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @kitten.description %>
</p>

<p>
  <strong>Kitten:</strong><br>
  <%= image_tag "http://thecatapi.com/api/images/get?format=src&type=gif&id=#{@kitten.kitten_api_id}" %>
</p>

<%= link_to 'Edit', edit_kitten_path(@kitten) %> |
<%= link_to 'Back', kittens_path %>
